@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* > * {
  font-family: 'Poppins', sans-serif;
}

.btn {
    @apply border bg-indigo-500 w-3/4 py-5 rounded-lg text-gray-100 ;
}

.btn:hover {
  background-color: #ff6a6a;
}

body{
  background: #dcdce6;
  background-image: url('https://as1.ftcdn.net/v2/jpg/00/82/97/66/1000_F_82976694_5IfBlxQiRF2axZRuQfl7jL2F1KNjjNOf.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}